<div class="main-content">
  <h1 class="main-logo">Music App</h1>
  <nav>
    <a class="button" href="<%= bands_url%>">Take me Home</a>
    <div class="user-detail">
      <p><%="Logged in as: #{current_user.email}" %></p>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    </div>
  </nav>
  <h2 class="page-header"><%= @album.title %></h2>
  <h4 class = "sub-header">Tracks</h4>
  <ul class= "main-list">
    <p>INSERT TRACK CODE HERE</p>
  </ul>
  <h4 class="sub-header">Links</h4>
  <ul class="page-links">
    <li>
        <a class= "button" href="<%= edit_album_url %>">
          <p>Edit Album</p>
        </a>
    </li>
    <li>
        <form action="<%= album_url(@album) %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">
          <input type="submit" value="Destroy Album">
        </form>
    </li>
    <li>
        <a class= "button" href="<%= band_url(@album.band) %>">
          <p>Back to <%= @album.band.name %></p>
        </a>
    </li>
  </ul>
</div>