<div class="main-content">
  <h1 class="main-logo">Music App</h1>
  <nav>
    <a class="button" href="<%= bands_url%>">Take me Home</a>
    <div class="user-detail">
      <p><%="Logged in as: #{current_user.email}" %></p>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    </div>
  </nav>
  <h2 class="page-header">Edit Band</h2>
  <form class="form" action=<%=band_url(@band)%>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="patch">
    <p>
      <label for="name">Band Name</label>
      <input id="name" type="text" name="band[name]" value="<%=@band.name%>">
    </p>
    <input type="submit">
    <br>
    <% if flash[:errors] %>
      <%= flash[:errors] %>
    <% end %>
  </form>
</div>