<div class="main-content">
  <h1 class="main-logo">Music App</h1>
  <nav>
    <a class="button" href="<%= bands_url%>">Take me Home</a>
    <div class="user-detail">
      <p><%="Logged in as: #{current_user.email}" %></p>
      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    </div>
  </nav>
  <h2 class="page-header"><%= @track.title %></h2>
  <% if @track.lyrics.length > 0 %>
    <h4 class = "sub-header">Lyrics</h4>
    <p class="lyrics"><%= @track.lyrics %></p>
  <% end %>

  <h4 class="sub-header">Links</h4>
  <ul class="page-links">
    <li>
        <a class= "button" href="<%= edit_track_url %>">
          <p>Edit Track</p>
        </a>
    </li>
    <li>
        <form action="<%= track_url(@track) %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token"value="<%= form_authenticity_token %>">
          <input type="submit" value="Destroy Track">
        </form>
    </li>
    <li>
        <a class= "button" href="<%= album_url(@track.album) %>">
          <p>Back to <%= @track.album.title %></p>
        </a>
    </li>
  </ul>
  </div>